body {
  margin: 0;
  background-color: #decdac;
  font-family: cursive;
}

.footer-text{
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}

.popup {
  width: 500px;
  height: auto; /* Adjusted for dynamic content */
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  position: fixed;
  box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
}

.popup-open .popup {
  transform: scale(1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.close-icon {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  right: 16px;
  cursor: pointer;
  font-family: serif;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.popup-open .overlay {
  display: block;
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #5cba47;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  background: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: none; /* Hidden by default */
  border-top: 1px solid #ccc;
}
